Formative Exercise #1
================

In [ ]:
# String manipulation 1. Printing strings

# Please print your name in the output. 
# Use two variables, FIRST and LAST. 
# If your name does not work with these variables, 
# then adjust how you print it, but do not destroy FIRST and LAST.


# ANSWER BELOW HERE
#*********************************

FIRST = 
LAST =

In [ ]:
# String manipulation 2. Special string characters

# Print your name like the following example (including the spaces) WITHOUT using three quotes. 
# Use one line for your code and replace your name below where appropriate.  
'''
Hi there, my name is Bruce Banner.

You can call me "The Hulk".
'''
#########
# Code to be altered: 

print('''
Hi there, my name is %s %s. 

You can call me "%s". 
''' % (FIRST,LAST,PREFERRED_NAME))

In [ ]:
# ANSWER BELOW HERE

In [ ]:
# String manipulation 3. Concatenating

v1 = "Happy Birthday"
v2 = "to you"
v3 = "dear"

# Using the variables above, whitespace characters and your FIRST name, print the lyrics to Happy Birthday.
# This would be 
'''
Happy Birthday to you
Happy Birthday to you 
Happy Birthday dear Example
Happy Birthday to you
'''

# ANSWER BELOW HERE
print(v1,v2, "\n"+v1,v2, "\n"+v1,v3,FIRST, "\n"+v1,v2)

In [ ]:
# String manipulation 4. Transforming

# Messing with cases. 

v1 = "Make this upper case!" # print this, but upper case
v2 = "Make this lower case." # print this, but lower case
v3 = "Make this title case." # print this, but title case

# ANSWER BELOW HERE
v1.upper()
v2.lower()
v3.title()

In [ ]:
# Number manipulation 1. Integers 

# The number 16!
# Print six different ways to get the number sixteen
# as a result of using six different mathematical operations, like +, -, and *.

# ANSWER BELOW HERE
x = 15
y = 1
for i in range(0, 6):
    print("To get 16 you can use the + operator:", x, '+', y, '=',x+y)

# To get you started:
print("To get 16 you can use the * operator:", 4*4)

In [ ]:
# Number manipulation 2. Floating point numbers 

# 1) Pick two fractions that together would compute a whole number 
# where the two fractions themselves have repeating digits. 
#
# 2) Print the two numbers, combine them, then print the result.
# The example from class used 1/3 + 1/3 + 1/3 = 1.0.
#
# 3) (optional) If you have printed a sum that results in a whole number, can you find one that doesn't?
#
# ANSWER BELOW HERE
x = 5/7
y = 2/7

print(x,' + ',y,' = ',x+y)

In [ ]:
# Dictionary manipulation 1. 

# 1) Build a dictionary with three items where the KEY is a country and the VALUE is the capital. 
# 2) Print the capitals by querying the keys. 

# ANSWER BELOW HERE


d1 = {"England":"London", "France":"Paris", "Ireland":"Dublin"}
print('The capital is England is', d1{'England'})

In [ ]:
# Dictionary manipulation 2. 

# Here is a dictionary

d2 = {"Red":"Apple", "Yellow":"Banana", "Orange":"Orange"}

# 1) Replace the 'apple' value with 'cherry' by assigning a new value.
# 2) Print all of the items. 

# ANSWER BELOW HERE

d2["Red"] = 'cherry'

print(d2)

In [ ]:
# Dictionary manipulation 3. 

# Here is a dictionary

d3  = {"a":"alpha", "b":"bravo", "c":"charlie", "d":"delta", "e":"echo", "f":"foxtrot"}

# By querying this dictionary one item at a time, print out an acrostic for a word using the letters in the dictionary.
# For example, if you wanted to print "beef" it would print:
# bravo
# echo
# echo
# foxtrot

# ANSWER BELOW HERE
word = input('what is the word')
for i in range (0,len.word - 1):
    letter = word.char[i]
    print(d3[letter])

In [ ]:
# List manipulation 1. 

# Here is a list 

messy_list = ["third","first","second","fourth","sixth"]

# messy_list is a mess and needs to be in the correct order, from "first" to "sixth". 
# 
# Create a new list, clean_list, manually placing the elements in the right order.
# But instead of using the value of every element (i.e. "first" or "fourth"),
# use the variable messy_list, and the indices corresponding to every element.
# In this new list, also include a "zeroth" and a "fifth" element, in the right place,
# so that the final list is in order from "zeroth" to "sixth".

# ANSWER BELOW HERE
clean_list = ["zeroth",messy_list[1],messy_list[2],messy_list[0],messy_list[3],'fifth',messy_list[4]]
print(clean_list)